body{
    background-color: black;
}

.container h1 {
    color: rgb(150, 193, 21);
}

div h1 {
    color: rgb(142, 13, 21);
}

h1, h2, h3 {
    color: white;
    text-shadow: 2px 2px 5px rgb(10, 183, 36);
    line-height: 1rem;
    font-family: sans-serif;
}

.borderImg {
    border: 6px dashed rgb(197, 124, 15);
    box-align: center;
}

ul li {
    color: rgb(132, 132, 101);
    font-size: 20px;
}

ul > li{
 color: rgb(116, 78, 205);
}